absl-py
astunparse
cachetools
certifi
chardet
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
imutils
joblib
Keras-Preprocessing
kiwisolver
Markdown
numpy
oauthlib
opencv-python
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
requests
requests-oauthlib
rsa
scikit-learn
six
tensorboard
tensorboard-plugin-wit
tensorflow==2.15.0
tensorflow-estimator==2.15.0
termcolor
threadpoolctl
urllib3